<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Listing</h3>
    <br />
    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=put"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please choose a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          cols="30"
          rows="10"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please choose a description.</div>
      </div>

      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalImageUrl %>" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control" />
        <div class="invalid-feedback">Please choose a image link.</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          value="<%= listing.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please choose a valid Price.</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          value="<%= listing.country %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please choose a country</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please choose a location.</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
